[opener]
edit = [
  # { run = '${EDITOR:=nvim} "$@"', desc = "$EDITOR", block = true, for = "unix" },
  { run = 'NVIM_APPNAME=nvim-lazyvim nvim "$@"', desc = "$EDITOR", block = true, for = "unix" },
  { run = 'code "%*"', orphan = true, desc = "code", for = "windows" },
  { run = 'code -w "%*"', block = true, desc = "code (block)", for = "windows" },
]
open = [
  { run = 'xdg-open "$@"', desc = "Open", for = "linux" },
  { run = 'open "$@"', desc = "Open", for = "macos" },
  { run = 'start "" "%1"', orphan = true, desc = "Open", for = "windows" },
]
play = [
  { run = 'mpv --force-window --keep-open=yes "$@"', orphan = true, for = "unix" },
  { run = 'vlc --force-window "%1"', orphan = true, for = "windows" },
  { run = '''mediainfo "$1"; echo "Press enter to exit"; read _''', block = true, desc = "Show media info", for = "unix" },
]

[open]
append_rules = [
  { name = "*.csv",          use = [ "open", "edit", "reveal" ] },
]
